fastapi~=0.112.2
requests~=2.32.3
gradio~=4.41.0
loguru~=0.7.2
langchain~=0.2.14
langchain-core~=0.2.33
langchain-community~= 0.2.12
langchain_openai~=0.1.22
openai~=1.42.0
config~=0.5.1
langgraph~=0.2.14
pydantic~=2.8.2
uvicorn~=0.30.6